.yourorders{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.yoin{
    width: 60%;
}
.yoheader{
    font-size: 40px;
    font-weight: 600;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.yoselector{
   width: 100%;
    /* padding-left: 10px; */
    border-bottom: 1px solid lightgrey;
}
.yosi{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.yosi>.chips{
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid blueviolet;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 500;

}
.chipselect{
    background-color: blueviolet;
    color: white;
}
.blur{
    opacity: 0.8;
    color: rgb(167, 159, 159);
}